<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DatabaseSyncUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DatabaseSyncUtility.Properties.Settings>
            <setting name="SourceServer" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceUserId" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetServer" serializeAs="String">
                <value>.\\SQLEXPRESS</value>
            </setting>
            <setting name="TargetDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="UseWindowsAuth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TargetUserId" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlPackagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveSourceCredentials" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveTargetCredentials" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SourcePasswordEncrypted" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetPasswordEncrypted" serializeAs="String">
                <value />
            </setting>
        </DatabaseSyncUtility.Properties.Settings>
    </userSettings>
</configuration>